<%= {{ read_file "src/generators/c-common/standard_header.h" }} %>

/* == Nonterminal ID Definitions == */
<% input!.nonterminals.each do |name, value| -%>
#define PGS_NONTERMINAL_<%= name.underscore.upcase %> <%= value.raw_id %>
<% end -%>

<%= {{ read_file "src/generators/c/tree_header.h" }} %>
